[submodule "composer"]
	path = composer
	url = git@github.com:arvaliullin/wapa-composer.git
[submodule "runner"]
	path = runner
	url = git@github.com:arvaliullin/wapa-runner.git
[submodule "exps"]
	path = exps
	url = git@github.com:arvaliullin/wapa-exps.git
[submodule "ui"]
	path = ui
	url = git@github.com:arvaliullin/wapa-ui.git
